:host {
    display: block;
    background-color: green;
    color: whitesmoke;
}

:host(.blue){
    display: block;
    background-color: lightblue;
    color: whitesmoke;
}

p {
    font-size: 20px;
    color:yellow;
}